<p-fieldset legend="Filtrar colaboradores">

  <div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
    <mat-form-field>
      <input matInput placeholder="Digite um termo para pesquisar...">
    </mat-form-field>
  </div>
  </div>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Abrir pesquisa avançada
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="ui-g">

      <div class="ui-sm-6 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="CPF">
        </mat-form-field>
      </div>

      <div class="ui-sm-6 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="Matricula">
        </mat-form-field>
      </div>

      <div class="ui-sm-12 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="Nome">
        </mat-form-field>
      </div>
      <div class="ui-sm-6 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="Status">
        </mat-form-field>
      </div>

      <div class="ui-sm-6 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="Produto">
        </mat-form-field>
      </div>

      <div class="ui-sm-12 ui-md-4">
        <mat-form-field>
          <input matInput placeholder="Departamento">
        </mat-form-field>
      </div>
    </div>

  </mat-expansion-panel>
</p-fieldset>
