<form>
  <p-fieldset legend="Informações Pessoais">
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-8 ui-lg-5">

        <mat-form-field>
          <input matInput name="name" placeholder="Nome do colaborador" required/>
        </mat-form-field>

      </div>
    </div>
  </p-fieldset>


  <p-fieldset legend="Documentação">
    <div class="ui-g">
      <div class="ui-sm-10 ui-md-8 ui-lg-5">

        <mat-form-field>
          <input matInput name="name" placeholder="Nome do colaborador" required/>
        </mat-form-field>

      </div>
    </div>
  </p-fieldset>


  <p-fieldset>
    <button mat-raised-button color="warn" (click)="cancel()">
      <mat-icon aria-label="Cancelar">cancel</mat-icon>
      Cancelar
    </button>
    <button type="submit" mat-raised-button>
      <mat-icon aria-label="Salvar Prato">save</mat-icon>
      Salvar
    </button>
  </p-fieldset>
</form>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>