<!-- <mat-horizontal-stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper> -->

<mat-vertical-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Informações Pessoais</ng-template>
    <div class="ui-g">
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Nome" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Nome do Cartão" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Sexo" required>
            <mat-option> Feminino </mat-option>
            <mat-option> Masculino </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput  type="date" matInput name="name" placeholder="Data Nascimento" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Tipo Telefone" required>
            <mat-option> Residencial </mat-option>
            <mat-option> Celular </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Nome Mãe" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="DDD" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Número Telefone" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Pessoa Exposta Politicamente" required>
            <mat-option> Sim </mat-option>
            <mat-option> Não </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Nome Pai"/>
        </mat-form-field>
      </div>

      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="País de Nascimento">
            <mat-option> Brasil </mat-option>
            <mat-option> França </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="E-mail"/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Número de Dependentes"/>
        </mat-form-field>
      </div>

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Documentação</ng-template>
    <div class="ui-g">
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="CPF" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Tipo Documento">
            <mat-option> RG </mat-option>
            <mat-option> CNH </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Endereço</ng-template>
    <div class="ui-g">

      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="CEP" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="UF" required>
            <mat-option> MG </mat-option>
            <mat-option> CE </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Cidade" required>
            <mat-option> Uberlandia </mat-option>
            <mat-option> Minas Gerais </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Bairro" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Tipo Logradouro" required>
            <mat-option> Logradouro 1 </mat-option>
            <mat-option> Logradouro 2 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Logradouro" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Complemento" required/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Número" required/>
        </mat-form-field>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Outros</ng-template>
    <div class="ui-g">
      <div class="ui-md-3">
        <mat-form-field>
          <input matInput name="name" placeholder="Matrícula"/>
        </mat-form-field>
      </div>
      <div class="ui-md-3">
        <mat-form-field>
          <mat-select placeholder="Departamento">
            <mat-option> 1 - Tecnlogia </mat-option>
            <mat-option> 2 - RH </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <button type="submit" mat-raised-button>
      <mat-icon aria-label="Salvar Prato">save</mat-icon>
      Salvar
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">
      <mat-icon aria-label="Cancelar">cancel</mat-icon>
      Voltar
    </button>

  </mat-step>


</mat-vertical-stepper>
