$up-primary: (
  50 : #fef2e0,
  100 : #fcdeb3,
  200 : #fac880,
  300 : #f8b24d,
  400 : #f7a226,
  500 : #f59100,
  600 : #f48900,
  700 : #f27e00,
  800 : #f07400,
  900 : #ee6200,
  A100 : #ffffff,
  A200 : #ffece1,
  A400 : #ffcaae,
  A700 : #ffba95,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$up-accent: (
  50 : #eaeceb,
  100 : #cacece,
  200 : #a7aead,
  300 : #848e8c,
  400 : #697574,
  500 : #4f5d5b,
  600 : #485553,
  700 : #3f4b49,
  800 : #364140,
  900 : #26302f,
  A100 : #80fcee,
  A200 : #4efbe8,
  A400 : #17ffe5,
  A700 : #00fce0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
