@import '../../../node_modules/@angular/material/theming';
@import 'up-pallete';

@include mat-core();

$restaurant-app-primary: mat-palette($up-primary);
$restaurant-app-accent:  mat-palette($up-accent, A200, A100, A400);
$restaurant-app-warn:    mat-palette($mat-red);

$restaurant-app-theme: mat-light-theme($restaurant-app-primary, $restaurant-app-accent, $restaurant-app-warn);

@include angular-material-theme($restaurant-app-theme);
